.tma-search-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 40px 15px;
  @include breakpoint-min('md') {
    margin: 50px;
  }
  &__result {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
  }
}
