$color-yellow: #fed41d;
$color-orange: #f14e28;
$color-blue: #009ddc;
$color-dark-blue: #015f84;
$color-grey: #acadae;
$color-light-grey: #d3d3d3;
$color-dark-mode-blue: #1f4e62;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
